.loader {
    background-color: #6D25C4 !important;
}
#loader-4 span{
    display: inline-block;

    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: white;
    margin: 35px 5px;
    opacity: 0;
}